@using MudBlazor
@using QSMPDLE.Web.Themes
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <title>QSMPDLE</title>
    <meta property="og:title" content="QSMPDLE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.qsmpdle.com" />
    <meta property="og:image" content="https://www.qsmpdle.com/graphics/og-image.png" />
    <meta property="og:description" content="Guess the QSMP2 character of the day." />

    <ResourcePreloader />

    <link rel="stylesheet" href="@Assets["/vendors/Blazor.Bootstrap/blazor.bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["/vendors/MudBlazor/MudBlazor.min.css"]" />
    <link rel="stylesheet" href="@Assets["/vendors/Blazor-ApexCharts/css/apexcharts.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["QSMPDLE.Web.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/colors.css"]" />
    <link rel="stylesheet" href="@Assets["css/animations.css"]" />

    <ImportMap />

    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />

</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />

    <script src="@Assets["/framework/blazor.web.js"]"></script>

    <script src="@Assets["/vendors/Blazor.Bootstrap/blazor.bootstrap.js"]"></script>
    <script src="@Assets["/vendors/Blazor-ApexCharts/js/blazor-apexcharts.js"]"></script>
    <script src="@Assets["/vendors/MudBlazor/MudBlazor.min.js"]"></script>
    <script src="@Assets["js/share.js"]"></script>
    <script src="@Assets["js/scroll.js"]"></script>
</body>

</html>
