@using MudBlazor
@using QSMPDLE.Web.Themes
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <title>QSMPDLE</title>
    <meta property="og:title" content="QSMPDLE" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.qsmpdle.com" />
    <meta property="og:image" content="https://www.qsmpdle.com/graphics/og-image.png" />
    <meta property="og:description" content="Guess the QSMP2 character of the day." />

    @* BLAZOR BOOTSTRAP *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    @* BOOTSTRAP ICONS *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    @* GOOGLE FONTS *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <ResourcePreloader />

    <link rel="stylesheet" href="@Assets["/vendors/Blazor.Bootstrap/blazor.bootstrap.css"]" />
    <link rel="stylesheet" href="@Assets["/vendors/MudBlazor/MudBlazor.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["QSMPDLE.Web.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/colors.css"]" />

    <ImportMap />

    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />

</head>

<body>
    <MudBreakpointProvider />
    <MudThemeProvider Theme="@QsmpdleTheme.Theme" IsDarkMode="true" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <Routes />
    <ReconnectModal />

    <script src="@Assets["/framework/blazor.web.js"]"></script>

    @* BLAZOR BOOTSTRAP JS *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>

    <script src="@Assets["/vendor/Blazor.Bootstrap/blazor.bootstrap.js"]"></script>
    <script src="js/share.js"></script>
    <script src="js/scroll.js"></script>
</body>

</html>
