@using MudBlazor
@using QSMPDLE.Web.Components.UX
@using QSMPDLE.Web.Features.Gameplay.Models
@using QSMPDLE.Web.Infrastructure.Persistence

@inject ICharacterStore CharacterStore

@if (Guesses is not null)
{
    <table class="guess-table mx-auto">
        <thead>
            <tr>
                <th>Character</th>
                <th>
                    <MudTooltip Text="Including 'Any'">
                        <span class="header-with-icon">Pronouns
                            <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                        </span>
                    </MudTooltip>
                </th>

                <th>
                    <MudTooltip Text="'Human', 'Not Human' or 'Unknown'">
                        <span class="header-with-icon">Species
                            <MudIcon Icon="@Icons.Material.Filled.Info" Size="Size.Small" />
                        </span>
                    </MudTooltip>
                </th>
                <th>Languages</th>
                <th>Affiliations</th>
                <th>Joined</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var guess in Guesses)
            {
                <tr class="answer-row @(guess == Guesses.Last() ? "new-row" : "")">
                    <td class="medium-cell">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
                            <MudAvatar Square="true" Size="Size.Large">
                                <MudImage Src="@CharacterImageHelper.GetHeadSrc(CharacterFromId(guess.Character.Id).Result)" />
                            </MudAvatar>
                            <span>@CharacterFromId(guess.Character.Id).Result.Name</span>
                        </MudStack>
                    </td>

                    <td class="small-cell">
                        <GuessChip Result="guess.Pronouns">
                            @DisplayList(@CharacterFromId(guess.Character.Id).Result.Pronouns)
                        </GuessChip>
                    </td>

                    <td class="medium-cell">
                        <GuessChip Result="guess.Species">
                            @(CharacterFromId(guess.Character.Id).Result.Species.Contains("Human")
                                ? @DisplayList(CharacterFromId(guess.Character.Id).Result.Species)
                                : @CharacterFromId(guess.Character.Id).Result.Species.Contains("Unknown")
                                    ? @DisplayList(CharacterFromId(guess.Character.Id).Result.Species)
                                    : $"Not Human ({@DisplayList(CharacterFromId(guess.Character.Id).Result.Species)})")
                        </GuessChip>

                    </td>

                    <td class="small-cell">
                        <GuessChip Result="guess.Languages">
                            @(@CharacterFromId(guess.Character.Id).Result.Languages > 3
                                ? $"4+ ({@CharacterFromId(guess.Character.Id).Result.Languages})"
                                : @CharacterFromId(guess.Character.Id).Result.Languages)
                        </GuessChip>
                    </td>

                    <td class="large-cell">
                        <GuessChip Result="guess.Affiliation">
                            @DisplayList(@CharacterFromId(guess.Character.Id).Result.Affiliations)
                        </GuessChip>
                    </td>

                    <td class="small-cell">
                        <GuessChip Result="guess.Joined">
                            Day @CharacterFromId(guess.Character.Id).Result.JoinDayNumber
                        </GuessChip>
                    </td>
                </tr>
            }

            @for (int i = Guesses.Count; i < MaxGuesses; i++) // 1-2-3-4-5-6
            {
                <tr class="empty-row opacity-@(MaxGuesses + Guesses.Count - i)">
                    <td class="large-cell">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="1">
                            <MudAvatar Square="true" Class="placeholder-avatar" Size="Size.Large" />

                            <span class="placeholder-name">&nbsp;</span>
                        </MudStack>
                    </td>

                    <td class="small-cell">
                        <MudChip T="string" Class="placeholder-chip">
                            &nbsp;
                        </MudChip>

                    </td>
                    <td class="medium-cell">
                        <MudChip T="string" Class="placeholder-chip">
                            &nbsp;
                        </MudChip>

                    </td>
                    <td class="small-cell">

                        <MudChip T="string" Class="placeholder-chip">
                            &nbsp;
                        </MudChip>
                    </td>

                    <td class="large-cell">
                        <MudChip T="string" Class="placeholder-chip">
                            &nbsp;
                        </MudChip>
                    </td>
                    <td class="small-cell">
                        <MudChip T="string" Class="placeholder-chip">
                            &nbsp;
                        </MudChip>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

<style>
    .guess-table {
        min-width: 68rem;
        border-collapse: separate;
        border-spacing: 0 .5rem;
    }

    .guess-table tr {
        height: 3rem;
    }

    .guess-table th {
        color: var(--white);
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 400;
    }

    .guess-table td {
        min-width: 8rem;
    }

    .guess-table td,
    .guess-table th {
        vertical-align: middle;
    }

    .header-with-icon {
        display: inline-flex;
        align-items: center;
        gap: .25rem;
    }

    .header-with-icon .mud-icon-root {
        position: relative;
        top: -1px;
    }

    .answer-row {
        user-select: none;
        border: 0.125rem solid var(--primary-black);
        box-shadow:
            0 0 0 0.125rem var(--black),
            0 .125rem .5rem var(--shadow);
        background: linear-gradient(to right, var(--primary-black) 44%, var(--shadow) 100%);
    }

    .empty-row {
        user-select: none;
        background: var(--primary-black);
    }

    .small-cell {
        width: 9rem;
    }

    .medium-cell {
        width: 13rem;
    }

    .large-cell {
        width: 15rem;
    }

    .placeholder-avatar {
        background: rgba(255, 255, 255, .08);
        border: 1px solid rgba(255, 255, 255, .15);
        opacity: .4;
    }

    .placeholder-name {
        width: 7rem;
        background: rgba(255, 255, 255, .08);
    }

    .placeholder-text {
        color: rgba(255, 255, 255, .25);
    }

    .placeholder-chip {
        width: 6rem;
        height: 2rem;
        margin: 0 auto;

        opacity: .25;
        pointer-events: none;
    }

    .guess-card {
        background:
            linear-gradient(to top left, var(--primary-black) 15%, var(--tint) 150%);
        border: 1px solid var(--ghost);

        border-radius: .5rem;

        padding: 1rem;

        backdrop-filter: blur(1rem);
    }

    .placeholder-card {
        background:
            linear-gradient(to top left, var(--primary-black) 15%, var(--tint) 150%);

        border-radius: .5rem;

        opacity: 0.5;

        padding: 1rem;

        backdrop-filter: blur(1rem);
    }

    .guess-avatar {
        width: 5rem;
        height: 5rem;
        image-rendering: pixelated;
    }

    .guess-name {
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: .02em;
    }

    .new-row {
        animation: reveal-row 300ms cubic-bezier(.2, .8, .2, 1);
    }
</style>

@code {
    [Parameter]
    public IReadOnlyList<GuessResult> Guesses { get; set; } = null!;

    [Parameter]
    public int MaxGuesses { get; set; } = 6;

    private static string DisplayList(IEnumerable<string> values)
    {
        return values.Any()
            ? string.Join("/", values)
            : "None";
    }

    private async Task<Character> CharacterFromId(int id)
    {
        return await CharacterStore.GetCharacterAsync(id) ?? throw new ArgumentException("No character with this id");
    }
}
