@using MudBlazor
@using QSMPDLE.Web.Components.Game.Modules
@using QSMPDLE.Web.Components.UX
@using QSMPDLE.Web.Features.Communication.GameEvents
@using QSMPDLE.Web.Features.Gameplay.Models
@using QSMPDLE.Web.Features.Gameplay.Services
@using QSMPDLE.Web.Features.Statistics.Services

@inject IGameService GameService
@inject IGameStateManager GameStateManager
@inject IStatisticsService StatisticsService

<MudStack AlignItems="AlignItems.Center" Spacing="4" Class="w-100 gameplay">
    @if (!IsGameLoaded)
    {

        <MudPaper Class="ma-4 image-wrapper" Elevation="0">
            <MudPaper Style="padding: .5rem; border: 0.125rem solid var(--primary-black); box-shadow: 0 0 0 0.125rem var(--black), 0 1rem 2rem var(--shadow); border-radius: 0;"
            Elevation="0">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="320px" Width="320px" />
            </MudPaper>
        </MudPaper>

        <div class="answer-reveal" >
            <h3><MudSkeleton SkeletonType="SkeletonType.Text" Width="4rem" Height="2.5rem" /></h3>
        </div>

        @if (GameMode == GameMode.Practice)
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="16rem" Height="3rem" />
        }

        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="24.25rem" Height="3rem" />
    }
    else
    {
        <MudPaper Class="ma-4 image-wrapper" Elevation="0">
            <CharacterPortrait 
            IconUrl="@(GameStateManager.GameState?.Game.PortraitUrl ?? string.Empty)" 
            GuessesMade="@(GameStateManager.GameState?.GuessesMade.Count ?? 0)" 
            IsGuessed="@(GameStateManager.GameState?.IsWon ?? false)"
            IsFailed="@(GameStateManager.GameState?.IsLost ?? false)" />
        </MudPaper>

        @if (GameStateManager.GameState?.IsFinished ?? false)
        {
            <div class="answer-reveal @(GameStateManager.GameState.IsWon ? "success" : "failure")">
                <h3>@GetTargetNameAsync().Result</h3>
            </div>
        }
        else
        {
            <div class="answer-reveal" >
                <h3>???</h3>
            </div>
        }

        @if (GameMode == GameMode.Practice)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Default" StartIcon="@Icons.Material.Filled.Refresh" OnClick="NewPractice">
                New Character
            </MudButton>
        }

        <CharacterSelector @bind-Value="GuessedCharacter" OnGuessConfirmed="Guess" IsGuessed="@(GameStateManager.GameState?.IsFinished ?? false)" />

        }

    <div class="guess-table-container">
        <GuessTable Guesses="@(GameStateManager.GameState?.GuessesMade ?? [])" />
        <GuessCards Guesses="@(GameStateManager.GameState?.GuessesMade ?? [])" />
    </div>

</MudStack>



@if (!(GameStateManager.GameState?.SeenPopup ?? false) && (GameStateManager.GameState?.IsWon ?? false))
{
    <VictoryDialog GameState="@GameStateManager.GameState" OnClose="ClosePopups" />
}

@if (!(GameStateManager.GameState?.SeenPopup ?? false) && (GameStateManager.GameState?.IsLost ?? false))
{
    <FailureDialog GameState="@GameStateManager.GameState" OnClose="ClosePopups" />
}


<style>
    .gameplay {
        position: relative;
    }

    .gameplay::before {
        content: "";
        position: absolute;
        inset: 0;

        background: radial-gradient(ellipse at center,
                rgba(0, 140, 255, .12),
                transparent 70%);

        z-index: -1;
    }

    .guess-table-container {
        width: 100%;
        max-width: 1200px;
    }

    .answer-reveal {
        text-align: center;
    }

    .answer-reveal h3 {
        font-weight: 700;
    }

    .success {
        color: var(--correct);
    }

    .failure {
        color: var(--wrong);
    }
</style>

@code {
    [Parameter]
    public GameMode GameMode { get; set; }

    [Parameter]
    public int? ArchiveGameNumber { get; set; }

    [Parameter]
    public EventCallback<GameState> GameStateChanged { get; set; }

    [Parameter] 
    public EventCallback GameLoaded { get; set; }

    private CharacterLookup? GuessedCharacter;
    private bool IsGameLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await StartNewGameAsync();
        }
    }

    public async Task Guess()
    {
        if (GameStateManager.GameState is null || GameStateManager.GameState.IsFinished || GuessedCharacter is null)
            return;

        // Make a guess and get the result
        var result = await GameStateManager.MakeGuessAsync(GuessedCharacter.Id);

        if (result is null)
        {
            GuessedCharacter = null;
            return;
        }

        // Record Start at first guess made
        if (GameStateManager.GameState.GuessesMade.Count == 1)
        {
            await StatisticsService.RecordGameStartedAsync(new GameStartedEvent
            {
                Timestamp = DateTime.UtcNow,
                DayNumber = GameStateManager.GameState.Game.DayNumber,
                PlayerId = GameStateManager.GameState.PlayerId,
                GameId = GameStateManager.GameState.GameId,
                GameMode = GameMode,
                TargetCharacterId = GameStateManager.GameState.Game.TargetId,
            });
        }

        // Raise event to record guess result
        await StatisticsService.RecordGuessMadeAsync(new GuessMadeEvent
            {
                Timestamp = DateTime.UtcNow,
                PlayerId = GameStateManager.GameState.PlayerId,
                GameId = GameStateManager.GameState.GameId,
                GuessedCharacterId = GuessedCharacter.Id,
            });


        if (result.IsCorrect || GameStateManager.GameState.GuessesMade.Count > 6)
        {
            await StatisticsService.RecordGameFinishedAsync(new GameFinishedEvent
            {
                Timestamp = DateTime.UtcNow,
                GameMode = GameMode,
                DayNumber = GameStateManager.GameState.Game.DayNumber,
                PlayerId = GameStateManager.GameState.PlayerId,
                GameId = GameStateManager.GameState.GameId,
                GuessCount = GameStateManager.GameState.GuessesMade.Count,
                IsWon = GameStateManager.GameState.IsWon,
            });
        }

        // Notify parent component of the updated game state
        // This allows the parent component to react to the game state change, such as showing a victory or failure popup.
        await GameStateChanged.InvokeAsync(GameStateManager.GameState);
        await InvokeAsync(StateHasChanged);

        // Clear the guessed character after processing the guess
        GuessedCharacter = null;
    }

    private async Task StartNewGameAsync()
    {
        var playerStats = await StatisticsService.GetPlayerStatsAsync();
        var loadingResult = await GameStateManager.LoadOrCreateAsync(GameMode, GameMode == GameMode.Archive ? ArchiveGameNumber : null);

        if (loadingResult == LoadGameResult.Failed)
        {
            throw new InvalidOperationException("Cannot initiate new game.");
        }

        // Notify parent component of the updated game state
        await GameStateChanged.InvokeAsync(GameStateManager.GameState);

        IsGameLoaded = true;
        await GameLoaded.InvokeAsync();

        await InvokeAsync(StateHasChanged);
    }

    private async Task NewPractice()
    {
        await GameStateManager.StartNewPracticeGameAsync();
    }

    private async Task<string> GetTargetNameAsync() 
    {
        return await GameStateManager.GetTargetName();
    }

    private async Task ClosePopups()
    {
        if (GameStateManager.GameState is null)
            return;

        await GameStateManager.MarkPopupAsSeenAsync();

        await InvokeAsync(StateHasChanged);
    }
}
